beautifulsoup4==4.9.3
cfscrape==2.1.1
lk21==1.2.3
lxml==4.6.2
requests==2.25.1
cloudscraper
bs4 
python-dotenv
pyrogram==2.0.66
tgcrypto
urllib3==1.26
aiohttp
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
